build/
compile_commands.json
*.lock
.cache/

/node_modules/*
/node_modules/scylladb-driver/binding.node
!/node_modules/scylladb-driver/*

./lib
!./lib/index.js
!./lib/index.d.ts
!./lib/scripts/*

prebuilds/
